#menu-container {
    background-color: #282c34;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

#menuroutes a {
    padding: 70px;
    font-size: 30px;
    font-weight: lighter;
}



@media screen and (max-width: 992px) {

   #menuroutes a {
       padding: 15px;
       font-size: 18px;
   }
}

@media screen and (max-width: 600px) {
    #menuroutes a {
        padding: 20px;
        font-size: 15px;
    }
}
