

.carousel .slide img {
    max-height: 500px;  /* change this to whatever you want */
    width: 100%;
}

.centered {
    text-align: center;
    justify-content: center;
}

a:hover {
    color: #d3d3d3;
    text-decoration: none;

}
