.teamContainer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}

.seeTeamButton {
    color: #ce0021;
}

.seeTeamButton:hover{
    color: #8c101a;
}

