.popovercontainer {
    border: 4px solid #ce0021;
    background-color: #e2e2e2;
    max-width: 500px;
    padding: 10px;
    text-align: center;
    justify-content: center;
}



.roundimage {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin: 30px;

}