.photoscontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#team-title-container {
    text-align: center;
}


#team-title-container h1 {
    font-size: 50px;
    margin-bottom: 100px;
}

#team-title-container h2 {
    font-size: 25px;
    margin-bottom: 150px;
}